@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: all;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
}

/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #00d1b2;
  --color-secondary: #5edfff;
  --color-base-100: #d1ecf5;
  --color-accent: #89bceb;
} */

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #00d1b2;
  --color-secondary: #5edfff;
  --color-base-100: #d1ecf5;
  --color-base-200: #aaf4ea;
  --color-accent: #89bceb;
}
/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #50a2b9;
  --color-secondary: #a0b6d9;
  --color-base-100: #f8fbfc;
  --color-accent: #788ac9;
} */
/* @plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #4698af;
  --color-secondary: #263c5f;
  --color-base-100: #030607;
  --color-accent: #364787;
} */

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  scroll-behavior: smooth;
}

.slick-prev {
  left: 5px !important; /* Adjust the left padding */
  z-index: 1;
}
.slick-next {
  right: 5px !important; /* Adjust the right padding */
  z-index: 1;
}
